{% extends 'base.html' %}
{% set active_page = 'features' %}
{% block title %} Features {% endblock %}
<p>
    {% block body %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto asperiores aspernatur atque deserunt dignissimos doloremque, eos ipsum maiores molestias neque nesciunt nulla omnis qui quo reprehenderit tempora vitae.
</p>

{% endblock %}