{% extends "base.html" %}
{% set active_page = 'home' %}
{#{% include 'navbar.html' %}#}
{% block title %} Home {% endblock %}

{% block body %}
    <div class="container-fluid" id="presentation">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 align-self-center" id="texto">

                    <h1 >Aplication name</h1 >
                    <p>This app is new and coming soon will be released.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad atque consequatur cupiditate delectus deserunt dicta, ex inventore maiores, nemo nostrum numquam officiis perspiciatis placeat quas, voluptate! Repellat, totam.
                    </p>


                </div>

        </div>

    </div>
{% endblock %}